body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 16px;
    background: url('../images/calibration/calibration.png');
    background-size: cover; /* Ensures the image covers the entire window */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed while content scrolls */
    height: 100%; /* Ensure body covers entire viewport height */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed; /* Fixed position keeps it visible */
    width: 100%;
    min-height: 6vh;
}
.navoff {
    width: calc(100% - 240px);
    margin-left: 240px;
}
.nav-links {
    display: flex;
    font-size: 1em;
    align-items: center;
    cursor: pointer;
}
.nav-links a {
    color: #7A7A7A;
    margin: 0 20px;
    text-decoration: none;
}
.nav-links a:hover {
    color: #fff;
}
.nav-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow to enhance the effect */
    overflow: visible; /* Ensure that any overflow is visible */
    font-size: 1em;
}
.nav-button:hover {
    background: linear-gradient(120deg, #11819b 0%, #0995e6 25%, #1fb3af 50%, #14cba0 75%, #10cc9d 100%);
}
.logo {
    width: 5vw;
}
#Accuracy a {
    background-color: #222;
    color: #eee;
    left: -15px;
    padding-left: 80px;
    padding-right: 40px;
}
#Accuracy {
    background-color: #222;
    padding-left: inherit;
}
/* Video Feed Styling */
#webgazerVideoContainer {
    display: block !important;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 240px !important;
    height: 180px !important;
    z-index: 1;
}
/* Calibration button styling */
.Calibration {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: red;
    opacity: 0.4;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}
.Calibration-right {
    right: -95.5%;
}
.calibrationContainer {
    position: absolute;
    width: 450px; /* Set a reasonable width */
    height: auto; /* Set a reasonable height */
    z-index: 2;
}
#Container1 {
    top: 77.5px;
    left: 107.5px;
}
#Container2 {
    top: 7%;
    left: 50%;
}
#Container3 {
    top: 7%;
    right: 1%;
}
#Container4 {
    top: 49%;
    left: 2%;
}
#Container5 {
    top: 50%;
    left: 50%;
}
#Container6 {
    top: 49%;
    right: 1%;
}
#Container7 {
    bottom: 0.75%;
    left: 2.5%;
}
#Container8 {
    bottom: 0.75%;
    left: 51%;
}
#Container9 {
    bottom: 0.75%;
    right: 2%;
}
.invisible {
    display: none;
}
.red-pin {
    width: 35px;
    height: 35px;
    position: absolute;
    top: -40px; /* Adjust as needed */
    left: -5px; /* Adjust as needed */
    z-index: 3;
}
.right-pin {
    left: 424px;
}
.bounce {
    animation: bounce 2s infinite;
}
#gaze {
    display: none;
    z-index: 100;
    opacity: 0.7;
    position: fixed;
    left: -5px;
    top: -5px;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-color: lightgreen; /* Set background color */
    border: 2px solid green; /* Add green border */
    border-radius: 50%; /* Make it circular */
    pointer-events: none; /* Ensure it doesn't interfere with other elements */
    transition: transform 0.4s ease-out; /* Smooth movement */
}
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fff;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #bbb;
    max-width: fit-content;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-image {
    text-align: center;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.calibrate-btn {
    background: linear-gradient(120deg, #10cc9d 0%, #14cba0 25%, #1fb3af 50%, #0995e6 75%, #11819b 100%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1em;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: block;
}
.calibrate-btn:hover {
    background: linear-gradient(120deg, #11819b 0%, #0995e6 25%, #1fb3af 50%, #14cba0 75%, #10cc9d 100%);
}
.explanation1-image {
    width: 50%;
}
.swal-footer {
    text-align: center !important;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(5px);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.speech {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #11819b;
    padding: 10px;
    max-width: 350px; /* You can adjust this value */
    width: auto; /* Allow width to adjust based on content */
    text-align: center;
    font-weight: bold;
    position: absolute;
    box-sizing: border-box;
}
.speech::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}
.speech-left {
    margin-right: auto;
    position: absolute;
    top: -9px; /* Adjust as needed */
    left: 41px; /* Adjust as needed */
    order: 1;
}
.speech-left::after {
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
    border-width: 5px 12px 5px 0;
    border-color: transparent #fff transparent transparent;
}
.speech-left::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 13px 7px 0;
    border-color: transparent #000 transparent transparent;
}
.speech-right {
    margin-left: auto;
    position: absolute;
    top: -9px; /* Adjust as needed */
    right: 36px; /* Adjust as needed */
    order: 2;
}
.speech-right::after {
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    border-width: 5px 0 5px 12px;
    border-color: transparent transparent transparent #fff;
}
.speech-right::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 12px;
    border-color: transparent transparent transparent #000;
}


@media (max-width: 1600px) {
    body {
        font-size: 16px; /* Μείωση για μικρότερες οθόνες */
    }
}
@media (max-width: 1200px) {
    body {
        font-size: 14px; /* Μείωση για μικρότερες οθόνες */
    }
}

@media (max-width: 992px) {
    body {
        font-size: 12px; /* Ακόμη μικρότερο για tablet */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 10px; /* Ακόμη μικρότερο για κινητά */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 8px; /* Πολύ μικρό για πολύ μικρές οθόνες */
    }
}