*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 16px;
    background: #fff;
    background: url('../images/pixels.png') repeat fixed;
    background-size: cover;
    min-height: 100vh; /* Ensure body covers entire viewport height */
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    width: 100%;
    height: auto;
    position: fixed;
    box-sizing: border-box;
}
.navoff {
    width: calc(100% - 240px);
    margin-left: 240px;
}
.logo {
    width: 10%;
    position: relative; /* Ensure it stays in the top left */
    left: 0;
}
.nav-links {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Center the links horizontally */
    font-size: 1em;
}
.nav-links a {
    color: #7A7A7A;
    margin: 0 1em;
    text-decoration: none;
}
.nav-links a:hover {
    color: #fff;
}
.nav-button {
    background: linear-gradient(120deg, #10cc9d 0%, #14cba0 25%, #1fb3af 50%, #0995e6 75%, #11819b 100%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0.3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-button:hover {
    background: linear-gradient(120deg, #11819b 0%, #0995e6 25%, #1fb3af 50%, #14cba0 75%, #10cc9d 100%);
}
.content {
    text-align: center;
    width: 100%; /* Adjust as needed */
    height: 115vh; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1 {
	font-size: 2em;
	margin: 4em 0 1em 0;
}
.instructions-container {
    width: 65%;
    margin: 0 0 1em 0;
    background-color: #f9f9f9; /*, #1ba0a7, #16c7a6); /*#f9f9f9;*/
    border-radius: 5px;
}
.instruction {
	width: 100%;
    display: flex;
	align-items: center;
	font-size: 1.2em;
	margin: 15px 0px;
	box-shadow: 5px 5px 10px #16c7a6;
    border-radius: 5px;
}
.instruction p {
	justify-content: center;
	width: 65%;
	margin: 0.6em 0px;
	text-align: left;
}
.instruction-number {
	font-style: italic;
}
.instruction input[type="checkbox"] {
    transform: scale(1);
}
.emoji-container {
	text-align: right;
	width: 10%;
}
.invisible {
	display: none;
}
span {
	font-weight: bold;
	margin-left: 2%;
	margin-right: 3%;
}
input[type="checkbox"] {
    appearance: none; /* Removes default checkbox appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none; /* Removes default focus style */
    border: 2px solid #0999e1; /* Adds blue border */
	border-radius: 3px;
    width: 2em; /* Adjust as needed */
    height: 2em; /* Adjust as needed */
    margin: 0 2em; /* Optional: Space between checkbox and label */
    vertical-align: middle; /* Aligns checkbox vertically with the label */
}
input[type="checkbox"]::after {
    content: '\2713'; /* Unicode character for checkmark */
    font-size: 2em; /* Adjust size of checkmark */
    color: transparent; /* Initially transparent */
    position: absolute; /* Position relative to checkbox */
    top: 0;
    left: 0; /* Adjust position as needed */
    line-height: 1; /* Ensures vertical alignment */
    transition: all 0.2s ease; /* Smooth transition for visibility */
}
input[type="checkbox"]:checked {
    background-color: #fff; /* Cyan background when checked */
}
input[type="checkbox"]:checked::after {
    color: #16c7a6; /* Blue checkmark when checked */
    font-weight: bold; /* Optional: Make the tick bold */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    left: 0%;
    width: 100%;
    height: auto; /* Adjust height dynamically */
    bottom: 0;
    font-size: 0.9em;
}
footer a {
    color: #4CAF50;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}


@media (max-width: 1600px) {
    body {
        font-size: 16px; /* Μείωση για μικρότερες οθόνες */
    }
}
@media (max-width: 1200px) {
    body {
        font-size: 14px; /* Μείωση για μικρότερες οθόνες */
    }
}

@media (max-width: 992px) {
    body {
        font-size: 12px; /* Ακόμη μικρότερο για tablet */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 10px; /* Ακόμη μικρότερο για κινητά */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 8px; /* Πολύ μικρό για πολύ μικρές οθόνες */
    }
}
