body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrolling */
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.navbar select {
    padding: 10px;
    font-size: 16px;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* Full viewport height minus navbar */
    width: 100vw; /* Full viewport width */
}
.left {
    width: 35%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ensure content fits within container */
}

.left > div {
    flex: 1;
    border: 1px solid #ddd;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent content overflow */
}

.right {
    width: 65%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent content overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heatmap-container {
    width: 100%;
    height: 70%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent content overflow */
    margin: 5% 0;
}
canvas, #heatmap {
    width: 100%;
    height: 100%;
    display: block; /* Ensure canvas takes up full container size */
}

#heatmap {
    background: url(../images/step1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#opacity-control {
    margin-left: 20px;
    font-family: Arial, sans-serif;
}

#slider-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#opacity-slider {
    width: 200px; /* Adjust width as needed */
    height: 8px;
    background: #ddd; /* Track color */
    border-radius: 5px; /* Rounded corners */
    outline: none;
    cursor: pointer;
    -moz-appearance: none; /* Firefox */
    appearance: none; /* Standard */
}

#opacity-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #007bff; /* Handle color */
    border-radius: 50%;
    cursor: pointer;
    /* Ensure that the handle is draggable */
    cursor: grab;
    cursor: -webkit-grab;
}

#opacity-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #007bff; /* Handle color */
    border-radius: 50%;
    cursor: pointer;
}

#opacity-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #007bff; /* Handle color */
    border-radius: 50%;
    cursor: pointer;
}

#opacity-value {
    min-width: 40px;
    text-align: center;
}
#controller-div {
    display: flex;
    align-items: center;
}
#controller {
    display: flex;
    margin: 20px;
}
.option {
    display: flex;
    align-items: center;
    width: max-content;
}
.option input[type="radio"] {
    margin-right: 10px; /* Space between radio button and label */
}
 /* ============================================================================= my results controller */
 .invisible {
    display: none;
 }
 .slider-container {
    align-items: center;
 }

.submission-count, .my-timer, .global-timer {
    width: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: 1px solid #ddd;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#dropdown, #dropdown2, #dropdown3 {
    width: 10vw;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
    border: 1px solid #ddd;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#answersDisplay p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

#answersDisplay strong {
    color: #333;
}